場所<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>fladding</title>
        <link rel="stylesheet" href="./main.css">
    </head>    

    <body>
        <header>
            <h1>状況回避とフラッディング</h1>
        </header>

        <nav>
            <ul>
                <li><a href="#clinical-picture">臨床像</a></li>
                <li><a href="#conceptualization">概念化</a></li>
                <li><a href="#exposure">エクスポージャー</a></li>
                <li><a href="#treatment-principle">治療原理</a></li>
                <li><a href="#treatment-plan">治療方針</a></li>
                <li><a href="#fladding">フラッディング</a></li>
                <li><a href="./index.html">目次</a></li>
            </ul>
        </nav>

        <main>
            <section id="clinical-picture" class="content-section">
                <h2>臨床像</h2>
                <h3>状況の回避</h3>
                <p>一度パニック発作が起きた状況や不快な身体感覚が起きそうな状況や場所を回避する</p>
                <p>蜂や大きい犬などに被害にあった場合、再体験を回避し警戒し続ける</p>
            </section>

            <section id="conceptualization" class="content-section">
                <h2>概念化</h2>
                <p> 
                パニック発作の起こりやすさを高く見積もりすぎている。
                必ずしも同じ結果が起こるわけではないことを体験する。
                </p>
            </section>

            <section id="exposure" class="content-section">
                <h2>エクスポージャー中に学ぶべきこと</h2>
                <p>① 身体的手掛かりとそれに関連する不安は耐えられるもの。</p>
                <p>② 医学的破局につながる可能性は低い。</p>
                <p>③ 健康維持や不安に耐えるための安全行動は不要。</p>
            </section>

            <section id="treatment-principle" class="content-section">
                <h2>治療原理</h2>
                <p>不安の維持要因は破局的な解釈に基づく安全行動</p>
                <p>安全行動を取らないとどうなるかを知ることができないという点が問題を維持している</p>
                <p>身体感覚や不確実さ不安に対して安全行動は必要がなく、恐れる結果が起こる可能性はそれほど高くない</p>
                <p>パニック発作などの身体感覚は短期的でどうにかなり健康や説明できない症状もどうにかなる</p>

            </section>

            <section id="treatment-plan" class="content-section">
                <h2>治療方針</h2>
                <h3>①機能アセスメント</h3>
                <h4>
                    A 必ずパニック発作を引き起こすだろうという状況を特定しておく
                    <p>ex, 全速力で走った後にバスや電車に乗る
                    </p>
                </h4>
                <h4>
                    B パニック発作を引き起こしやすくする、もしくはパニック発作を増強するような行動や状況を特定する。
                    <p>ex, カフェイン、アルコール、ランニング、エレベーター、会議室、発表の場、飲み会、電車、新幹線、トイレ、お風呂</p>
                </h4>
                <h4>
                    C 恐れている身体感覚によって予想される破局を回避するためにとる安全行動を特定する
                    <p>ex, 呼吸を整える、ツボを押す、意識をずらそうとする、その場から逃げ出す、健康状態のモニタリング、脈をとる、検索をする、安心する言葉</p>
                </h4>

                <h3>②練習計画を立て実行</h3>
                <h4>
                    ある特定の状況を恐れている場合フラッディングが有効である。
                </h4>

            </section>

            <section id="fladding" class="content-section">
                <h2>フラッディング</h2>
                <h4>フラッディングを成功させるためには必ずパニック発作を起こして意識を失うような破滅的な状況を想定し、最大限その想定を否定することである</h4>
                <p>※状況エクスポージャーと同様に安全行動なしで行う必要がある</p>
                <h3>状況エクスポージャーを最大限効果を発揮させるための手順を以下に示す。</h3>
                <h4>A 必ずパニック発作を引き起こし失神や心臓発作が起こるような状況を想定しておく</h4>
                <h5>ex, 全速力で走った後にギリギリの満員電車に乗ったらひどい過呼吸とパニック発作に見舞われて</h5>
                <h5>意識を失いその場に倒れて周りの乗客に見られて恥ずかしい思いをする</h5>
                <h4>B パニック発作が起きても構わないから。実際に想定した行動をしてみて意識を失うか、死んでしまうかを検証する</h4>
                <h5>ex, ああ、ひどいパニック発作だこのままだと意識を失ってしまう</h5>
                <h4>C 反応妨害をする</h4>
                <h5>ex, 意識を失うなら失ってみる、心臓発作を経験してみる、来るなら来いと受け入れる</h5>
                <h4>D 実際どうだったかを機能アセスメントと共に振り返る</h4>
                <h4>E カフェインや過呼吸など内部感覚エクスポージャーを組み合わせてA~Dの操作を繰り返し耐えられることを学ぶ</h4>
                <h5>ex, カフェインを大量に摂取し全速力で走った後にギリギリの満員電車に乗る</h5>
            </section>

            <main id="table_of_contents" class="content-section">
        </main>
        
        <footer>
            <a href="https://x.com/INTJ1123"  class="twitter-link">
                <img src="../image/teitter_icon.png" alt="Twitter" width="30">
            </a>
        </footer>
</html>