<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table of Contents</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <header>
        <h1>不安障害・強迫性障害のためのエクスポージャー</h1>
    </header>

    <nav class="tob">
        <ul>
            <li><a href="./index.html">目次</a></li>
            <li><a href="./Physical_Cues.html">1:身体的な不快感</a></li>
            <li><a href="./fladding.html">2:状況回避とフラッディング</a></li>
        </ul>
    </nav>

    <main>
        <h1>目次</h1>
        <section id="PhysCue" class="content-section">
            <div class="container">
                <a href="Physical_Cues.html" class="btn">1 : 身体的な不快感に対するエクスポージャー(曝露療法)</a>
                <img src="../image/heart_beat.jpg" alt="説明" class="right-image">
            </div>
            <h3>対象読者</h3>
            <h4 class="word-wrap">
                呼吸困難感や心臓のドキドキなど交感神経系の興奮にかかわる不快感から失神や心臓発作を予期し恐れている方
            </h4>

            <h3>対象疾患</h3>
            <h4>パニック症・限局性恐怖症</h4>
        </section>

        <section id="fladding" class="content-section">
            <div class="container">
                <a href="fladding.html" class="btn">2 : 状況回避とフラッディング</a>
                <img src="../image/train_panic.jpg" alt="説明" class="train-image">
            </div>
            <h3>対象読者</h3>
            <h4 class="word-wrap">
                電車やバス、会議、蜂、蛇など特定の状況や生き物に対して恐怖を感じ回避している方
            </h4>

            <h3>対象疾患</h3>
            <h4>パニック症・限局性恐怖症・PTSD・社交不安障害</h4>
        </section>
    </main>

    <footer>
        <p>© 2025 Exposure Therapy</p>
        <a href="https://x.com/INTJ1123" target="_blank" class="twitter-link">
            <i class="fab fa-twitter"></i>
        </a>
    </footer>

</body>
</html>
