<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Treatment</title>
        <link rel="stylesheet" href="./main.css">
        <link rel="icon" type="image/png" sizes="32x32" href="../image/uparupa.jpg">
    </head>   

    <nav>
        <ul>
            <p>目次</p>
            <li><a href="#kousiki">不安を克服する3つの公式</a></li>
            <li><a href="#assesment">機能アセスメント</a></li>
            <li><a href="#what_is_assesment">・機能アセスメントとは？</a></li>
            <li><a href="#detect_errer">・二つの原因</a></li>
            <li><a href="#predicted-anxiety">・予期不安の特定</a></li>
            <li><a href="#safe-behavior">・安全行動の特定</a></li>
            <li><a href="#treatment-education">心理教育</a></li>
            <li><a href="#situation">・状況エクスポージャー</a></li>
            <li><a href="#sensation">・内部感覚エクスポージャー</a></li>
            <li><a href="#imagin">・想像エクスポージャー</a></li>
            <li><a href="#exposure">エクスポージャーの実行と反応妨害</a></li>
            <li><a href="#jissen_assesment">・機能アセスメントの実施</a></li>
            <li><a href="#inhibition">・曝露反応妨害法の実施</a></li>
            <li><a href="#return">・振り返り(SUDS)</a></li>
            <li><a href="#cheer">おわりに</a></li>
            <li><a href="./index.html">Home</a></li>
        </ul>
    </nav>

    <body>
        <header>
            <h1>不安障害の治療（エクスポージャーの実践）</h1>
        </header>
        <main>
            <section  id="kousiki" >
                <h2>不安障害を克服する旅へようこそ！</h2>
                <h3>不安障害を克服するためには３つの公式から成り立っています</h3>
                <section class="content-section">
                    <a href="#assesment">①機能アセスメント</a>
                </section>
                <section class="content-section">
                    <a href="#treatment-education">②心理教育</a>
                </section>
                <section class="content-section">
                    <a href="#exposure">③エクスポージャーの実践</a>
                </section>
            </section>

            <section id="assesment" class="content-section">
                <h2>機能アセスメント</h2>
                <section id = "what_is_assesment" class="content-section">                
                    <h3>①機能アセスメントとは？</h3>
                    <h4>機能アセスメントは恐れている状況や症状を特定し、その状況や症状からどのような結果が生じて</h4>
                    <h4>予測される結果が起こらないためにどのような行動をしているかを特定していきます。</h4>
                    <h4>また、その行動をしなかった場合どうなるかを話し合っていきます。</h4>
                </section>

                <section id = "detect_errer" class="content-section">                
                    <h3>②外的な原因と内的な症状の特定</h3>
                    <h4>まず不安障害の方が不快感を感じるパターンには大きく二つ存在しています。</h4>
                    <h3>A :発表やカフェインなどといった外的な要因</h3>
                    <h3>B :心臓のドキドキや呼吸のしづらさなどといった内的な要因</h3>
                    <h4>※不安障害を抱える多くの方が両方の特徴を持っています</h4>
                </section>

                <section id="predicted-anxiety" class="content-section">
                    <h3>③外的な要因と内的な要因から予想される最悪な結果の特定</h3>
                    <h4>多くの不安障害の方が特定の状況や行動がパニック発作や失神、心臓発作などを引き起こすと考えています。</h4>
                    <h4>この章では、外的な要因と内的な要因がもたらす最悪の結果について特定していきます</h4>
                    <h3>心臓発作をおそれている場合の例</h3>
                    <h4>心臓発作を恐れている場合、カフェインを摂取した状態(外的要因1)で激しい運動(外的要因2)をした場合に
                        呼吸が荒くなり(内的要因1)、心臓がドキドキ(内的要因2)することで心臓発作を引き起こし死んでしまう。</h4>
                </section>

                <section id="safe-behavior" class="content-section">
                    <h3>④安全行動の特定</h3>
                    <h4>先ほどの例のように心臓発作を恐れる方の場合、心臓発作を引き起こすのを回避するために安全行動を取ります。しかし、
                        安全行動をしなければ心臓発作を引き起こすという間違った観念が生じるため安全行動をやめなければなりません。
                        そこで、安全行動を特定し安全行動をしなかった場合の予想についても特定していきます。
                    </h4>

                    <h3>安全行動の例</h3>
                    <h4>心臓発作を起こさないようにカフェインは取らないようにしよう(外的要因に対する安全行動)、呼吸が荒くならないように
                        ゆっくり行動するようにしよう(内的要因に対する安全行動)
                    </h4>

                    <h3>安全行動を取らなかった場合の予測の例</h3>
                    <h4>カフェインを取った状態で全速力で走ったら心臓発作を起こして死んでしまうだろう</h4>
                </section>

        <section id="treatment-education" class="content-section">
            <h2>心理教育</h2>
            <h3>心理教育では先ほどの機能アセスメントをもとに3つのエクスポージャー法について説明します。</h3>
            <h4>心理教育とは、安全行動による不安の維持をストップさせるために必要な知識になります。</h4>
            <a href="Physical_Cues.html">なぜ安全行動が不安を維持するのかについてはこちらを参考にしてください
            </a>
        </section>

        <section class="content-section">
            <section class="content-section">
                <h3 id="situation">①状況エクスポージャー</h3>
                <section>
                    <h4>
                        状況エクスポージャーでは、特に外部の要因に対するエクスポージャーに有効です。状況エクスポージャーはパニック発作や心臓発作が起こると予想される状況に安全行動なしで曝露する方法で、実際に恐れている場所や状況に行くことによって
                        パニック発作や不安症状があっても何とか活動できるということを学習します。
                    </h4>
                    <h5>※慣習的に不安階層表を使って行われる場合もあるが、実際には一番強い刺激から取り組んでも問題はない。むしろランダム性が高いほうが効果が高い</h5>
                    <h3>状況エクスポージャーを最大限効果を発揮させるための手順。</h3>
                    <h4>A 回避している状況に取り組んだ場合どのような結果が予想されるかはっきりさせておく</h4>
                    <h4>ex, 電車に乗り込んだら意識を失って乗客に奇異の目をむけられ恥ずかしいりさせて思いをするだろう</h4>
                    <h4>B 回避している状況に取り組み安全行動なしでどのような症状が出るか本当に耐えられないものかを検証する</h4>
                    <h4>ex, 心臓がドキドキし、体が冷たい感じがする、今にも意識を失いそうだ</h4>
                    <h4>C 反応妨害をする</h4>
                    <h4>ex, 意識を失うなら失ってみる、どうにかなってみる、不安に身を任せる</h4>
                    <h4>D 実際どうだったかを行う前と行った後で照らし合わせる。</h4>
                    <h4>E カフェインや過呼吸など内部感覚エクスポージャーを組み合わせてA~Dの操作を繰り返し耐えられることを学ぶ</h4>
                    <h4>ex, カフェインで今にもパニック発作が起きそうな状態で電車に乗る</h4>
                </section>
            </section>
            <section class="content-section">
                <h3 id="sensation">②内部感覚エクスポージャー</h3>
                <section>
                    <h4>
                        内部感覚エクスポージャーでは、特に内部の要因に対するエクスポージャーとして有効です。実際に恐れている身体感覚を最大限わざと引き起こして
                        その感覚にあっても最悪な結果は生じないということを学習します。
                        <table>
                            <tr>
                                <th>課題</th>
                                <th>内容・継続時間</th>
                                <th>誘発される身体感覚</th>
                            </tr>
                            <tr>
                                <td>頭を横に振る</td>
                                <td>30秒間</td>
                                <td>めまい・頭のふらつき</td>
                            </tr>
                            <tr>
                                <td>頭を足の間に入れる</td>
                                <td>30秒間</td>
                                <td>立ち眩み・めまい・頭のふらつき</td>
                            </tr>
                            <tr>
                                <td>速いピッチで走る</td>
                                <td>60秒間</td>
                                <td>動悸・息切れ・発汗・胸部の痛み</td>
                            </tr>
                            <tr>
                                <td>素早く唾を飲み込む</td>
                                <td>できるだけ早く10回</td>
                                <td>のどのつまり・息苦しさ</td>
                            </tr>
                            <tr>
                                <td>回転</td>
                                <td>60秒間</td>
                                <td>めまい・ふらつき・離人感・現実感消失</td>
                            </tr>
                            <tr>
                                <td>腕立て伏せ</td>
                                <td>60秒間</td>
                                <td>筋肉のこわばり・胸部痛・発汗</td>
                            </tr>
                            <tr>
                                <td>過呼吸</td>
                                <td>60秒間</td>
                                <td>めまい・動悸・息切れ・発汗・胸部の痛み・しびれ・ふらつき</td>
                            </tr>
                        </table>
                    </h4>
                </section>
            </section>
            <section class="content-section">
                <h3 id="imagin">③想像エクスポージャー</h3>
                <h4>想像エクスポージャーは飛行機などの実際に体験することが難しい場合に想像上で恐れている状況に曝露する方法である。しかし、最終的には状況エクスポージャーを通して行動範囲を広げていく必要がある。
                    また、想像エクスポージャーを増強させるためにVRを用いたVRエクスポージャーも有効である。
                </h4>
            </section>


            <section id="exposure" class="content-section">
                <h2>曝露反応妨害法</h2>
                <h3>ついに曝露反応妨害法を行い不安を克服していくステップになります。</h3>
                <h3>曝露反応妨害方の流れは以下の三つです</h3>

                <section class="content-section">
                    <a href="#treatment_plan">①実行計画を立てる</a>
                </section>
                <section class="content-section">
                    <a href="#inhibition">②曝露反応妨害法の実施</a>
                </section>
                <section class="content-section">
                    <a href="#return">③振り返りと評価</a>
                </section>
            </section>

            <section id = "jissen_assesment" class="content-section">
                <h2>曝露反応妨害方の実行計画を立てる</h2>
                    <h3>機能アセスメントの実践</h3>
                    <h4>それではさっそくそれぞれの原因について書き出してみましょう！</h4>
                    <section id="outer" class="content-section">
                        <h3>外的な要因と内的な要因の両方で何があなたを不快にしますか？</h3>
                        
                        <form>
                            <h4>外的な要因</h4>
                            <textarea id="outer_message" name="message" rows="10" cols="100" placeholder="カフェイン、アルコール、ランニング、エレベーター、会議室、発表の場、飲み会、電車、新幹線、トイレ、お風呂"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                            <h4>内的な要因</h4>
                            <textarea id="inner_message" name="message" rows="10" cols="100" placeholder="心臓のドキドキ、息が吸いにくい感じ、体が冷たくなる感じ、眠気、胸が苦しい感じ、めまい、吸い込まれる感じ、意識を失う感じ、頭が真っ白になる感じ"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>

                    <section id="outer" class="content-section">
                        <h3>外的・内的な要因から予想される最悪の結果は何ですか？</h3>
                        <form>
                            <textarea id="outer_message" name="message" rows="10" cols="100" placeholder="心臓発作、意識の消失、パニック発作、嘔吐"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>

                    <section id="outer" class="content-section">
                        <h3>どのようなストーリーで最悪な結果が引き起こされますか？なるべく具体的にお願いします。</h3>
                        <form>
                            <textarea id="outer_message" name="message" rows="10" cols="100" 
                            placeholder="カフェインを飲んだ状態で全力疾走をしながらギリギリ満員電車に乗ると、心臓がどきどきし胸の内側から熱さがこみあげてきて冷汗がだらだらとこみあげてくるだろう。そして心臓が高鳴り、激しく鼓動し呼吸が吸えなくなる。その後、酸欠状態に陥り意識を消失し乗客に奇異な目をむけられるだろう。"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>

                    <section id="outer" class="content-section">
                        <h3>最悪な結果を避けるためにどのような行動を取りますか？</h3>
                        <form>
                            <textarea id="outer_message" name="message" rows="10" cols="100" placeholder="カフェインを控えてゆっくり行動するようにする。また、人目につかないよう電車やバスではなく自転車を使う。ドキドキしてきたら呼吸法で息を整えて、ツボ押したり意識をそらすように爆音で音楽を聞く。"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>

                    <section id="outer" class="content-section">
                        <h3>安全行動を取らなければどうなりますか？</h3>
                        <form>
                            <textarea id="outer_message" name="message" rows="10" cols="100" placeholder="おそらく意識を失うだろう。もしくは、死に至りこの世には戻ってこれないだろう。"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                        <h3>これで機能アセスメントは終了です！お疲れさまでした！</h3>

                        <!--ここで結果をjpg形式で受け取れるようにする-->
                        <a href="../image/heart_beat.jpg">こちらから機能アセスメントの記録を受け取ることができます</a>
                    </section>

                </section>
                <section id="detail" class="content-section">
                    <h3>機能アセスメントをもとに具体的な行動を立てる</h3>
                    <h4>続いて具体的な行動計画について立てていきましょう</h4>
                    <section id="outer" class="content-section">
                        <h3>内的な要因と外的な要因を併せて5つ選んでください</h3>
                        <h4>※必ずしもできそうな物から選ぶ必要はありません。</h4>
                        <form>
                            <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="カフェイン、足早に歩く、電車、寝不足で、満員の状態で"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>
                    <section id="outer" class="content-section">
                        <h3>これらの要因が引き起こす最悪の結果を教えてください</h3>
                        <h4>※最悪の結果を導かないと感じるならばそれは刺激として弱すぎます。</h4>
                        <form？
                            <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="心臓発作を起こし、意識を失う。そして乗客から奇異の目でみられる"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>
                    <section id="outer" class="content-section">
                        <h3>最悪の結果を弱めるような行動やグッズを教えてください</h3>
                        <h4>※安全行動にはする回避としない回避があります</h4>
                        <form>
                            <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="抗不安薬を事前に飲んでおく、電車に乗らない、カフェインを控える、ゆっくり行動する、スマホや本に集中する、音楽を聞く、景色を見る"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>
                    <section id="outer" class="content-section">
                        <h3>最悪の結果を引き起こすのに十分な時間を教えてください</h3>
                        <h4>※最悪な結果を引き起こすのに十分な時間+10分は曝露するようにしてください</h4>
                        <form>
                            <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="心臓発作をおこし、意識を失うにはおそらく20分で十分だろう"></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>
                    <section id="outer" class="content-section">
                        <h3>今回の実行計画をまとめどのような結果になるかを書きましょう。</h3>
                        <h3>また恐怖の点数(SUDS)を書きましょう。0:リラックス 20:軽度 50:中度 80:高度 100:最悪</h3>
                        <form>
                            <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="寝不足の状態でコーヒーを一本のみ、構内を足早に歩き満員電車に乗り30分以上乗り続ける。抗不安薬は家に置いていく。おそらく心臓発作で緊急搬送され恥ずかしい思いをするだろう。"></textarea>
                            <textarea id="SUDS" name="message" rows="5" cols="1" placeholder=90></textarea>
                            <br><br>
                            <button type="submit">回答を保存</button>
                        </form> 
                    </section>
                </section>
            </section>
        </section>

        <section id="inhibition" class="content-section">
            <h2>曝露反応妨害法の実施</h2>
            <h3>行動計画に従って安全行動の一切を止め、曝露を行ってください。</h3>
            <h3>ひたすらにその苦痛の波に身を任せ、来るなら来いとパニックを感じるようにしてください。</h3>
            <h3>曝露反応妨害法の失敗はパニックや症状が起こることではなく安全行動を取ってしまうことです。</h3>
            <h3>安全行動を取らずとも、なんとかできることを身をもって体験しなさい</h3>
        </section>

        <section id="return" class="content-section">
            <h2>曝露反応妨害法の振り返り</h2>
            <section class="content-section">
                <h3>実際に曝露してみてどうでしたか？</h3>
                <h3>また実施前と実施中、実施後の恐怖の点数(SUDS)を書きましょう。0:リラックス 20:軽度 50:中度 80:高度 100:最悪</h3>
                <form>
                    <textarea id="outer_message" name="message" rows="5" cols="100" placeholder="電車に乗った瞬間に心臓がドキドキし呼吸が吸えなくなるのを感じた。もう死ぬに違いないと思ったが、ここで安全行動を取っては失敗だと思い苦しいまま曝露をつづけた。13分が経過した頃に冷汗が出始め吐き気が生じてきた。汗だくになり人の目が気になったが誰も自分を見ている風ではなくスマホを見ていた。20分ころからなぜか症状が軽減され始めそこからは嘘のように症状がなくなり、到着先で何をしようかという余裕が生まれていた。"></textarea>
                    <h3>実施前の不安(SUDS)</h3>
                    <textarea id="preSUDS" name="message" rows="5" cols="20" placeholder=90></textarea>
                    <h3>実施中の不安(SUDS)</h3>
                    <textarea id="preSUDS" name="message" rows="5" cols="20" placeholder=100></textarea>
                    <h3>実施後の不安(SUDS)</h3>
                    <textarea id="preSUDS" name="message" rows="5" cols="20" placeholder=10></textarea>
                    <br><br>
                    <button type="submit">回答を保存</button>
                </form> 

            </section>


            <section id="cheer" class="content-section">
                <h3>曝露反応妨害方を実施された方へ</h3>
                <h3>まず、曝露反応妨害法の実施お疲れさまでした。死を意識するような強烈な不安に立ち向かうのは並大抵のことではなかったと思います。
                    しかし、その恐怖に立ち向かうことで自分の人生を前向きに進めていこうという姿はどのような症状であってもあなたを打ち砕くことはできないのではないでしょうか。
                    曝露療法は多大な苦痛が伴うのも事実です。しかし、不安障害に唯一と言っていいほどエビデンスが蓄積された方法になります。今後も曝露反応妨害法を継続することで新たな道が開けています。応援しています。
            </section>
        </section>

        </main>

        <footer>
            <a href="https://x.com/INTJ1123"  class="twitter-link">
                <img src="../image/teitter_icon.png" alt="Twitter" width="30">
        </footer>
    </body>

</html>